<div class='youTube__window'>
  <button class='modal__btn' data-action='btn__close'>x</button>
  <div class='youTub__video'>
    <iframe
      src='https://www.youtube.com/embed/{{key}}?autoplay=1'
      title=' YouTube video player'
      frameborder='0'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
      allowfullscreen
    ></iframe>
  </div>
</div>