@import '~node_modules/modern-normalize/modern-normalize.css';


body.on-open-modal {
  overflow: hidden;
}

body.open-registration-modal {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: auto;

  @media (max-width: 480px) {
    width: 3px;
    height: auto;
  }
}

::-webkit-scrollbar-thumb {
  background: #f87e2c;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6b08;
}

::-webkit-scrollbar-thumb:active {
  background: #d85905;
}

// ::-webkit-scrollbar-track {
//   background: #e2e1e7;
// }

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.852),
    rgba(255,
      255,
      255,
      0.90)),
  url('./../images/background/video.jpg');
  background-position: center;

  overflow-x: hidden;
}