<div data-modal class="backdrop is-hidden">
  <div class="footer-modal">
    <button
      data-footer-modal-close
      class="footer-modal__close-btn"
      type="button"
    >
      <svg class="footer-modal__icon-close" width="30" height="30">
        <use href="./images/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/kristina-salnyk.jpg"
            alt="Крістіна Сальник"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Крістіна Сальник</h3>
          <p class="member-position">Team-leader</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/olga-trush.jpg"
            alt="Ольга Труш"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Ольга Труш</h3>
          <p class="member-position">Scrum-master</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/olga-plotkina.jpg"
            alt="Ольга Плоткіна"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Ольга Плоткіна</h3>
          <p class="member-position">Developer</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/vitalii-aleksandrov.jpg"
            alt="Віталій Александров"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Віталій Александров</h3>
          <p class="member-position">Developer</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/anton-zubenko.jpg"
            alt="Антон Зубенко"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Антон Зубенко</h3>
          <p class="member-position">Developer</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/stanislav-mironenko.jpg"
            alt="Станіслав Мироненко"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Станіслав Мироненко</h3>
          <p class="member-position">Developer</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/maksim-struts.jpg"
            alt="Максим Стрюц"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Максим Стрюц</h3>
          <p class="member-position">Developer</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/oleksandr-chaikovskii.jpg"
            alt="Олександр Чайковський"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Олександр Чайковський</h3>
          <p class="member-position">Developer</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/oleksii-kravchenko.jpg"
            alt="Олексій Кравченко"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Олексій Кравченко</h3>
          <p class="member-position">Developer</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/serhii-gudzenko.jpg"
            alt="Сергій Гудзенко"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Сергій Гудзенко</h3>
          <p class="member-position">Developer</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            src="./images/team-members/serhii-kartavtsev.jpg"
            alt="Сергій Картавцев"
            width="245"
            height="280"
          />
          <div class="swiper-lazy-preloader"></div>
          <h3 class="member-name">Сергій Картавцев</h3>
          <p class="member-position">Developer</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
