<div data-modal class="backdrop is-hidden">
    <div class="footer-modal">
        <button data-footer-modal-close class="footer-modal__close-btn" type="button">
            <svg class="footer-modal__icon-close" width="30" height="30">
                <use href="./images/icons.svg#icon-close-btn"></use>
            </svg>
            <!-- <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 8L22 22" stroke="black" stroke-width="2" />
                <path d="M8 22L22 8" stroke="black" stroke-width="2" />
            </svg> -->
        </button>
        <!-- <ul>
  <li>
    <img src="" alt="">
    <h3 class="member-name"></h3>
    <p class="member-position"></p>
  </li>
</ul> -->
    </div>
</div>