<header class="header header--home">
  <div class="container">
    <nav id="nav" class="nav header__nav header__nav--home">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" aria-label="Logo">
          <use class="icon-film" href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__title">Filmoteka</span>
      </a>

      <ul class="pages nav__pages">
        <li class="pages__item">
          <a class="pages__link pages__link--current" href="./index.html">Home</a>
        </li>
        <li class="pages__item">
          <a class="pages__link" href="./library.html">My library</a>
        </li>
      </ul>
    </nav>

    <form id="search-form" class="search-form">
      <div class="search-form__container">
        <input class="search-form__input" type="text" name="searchQuery" autocomplete="off"
          placeholder="Search movie..." />
        <button class="search-form__btn" type="submit">
          <svg class="search-form__icon" aria-label="Search">
            <use class="icon-search" href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <p id="search-error" class="search-form__error">
        Search result not successful. Enter the correct movie name and try
        again.
      </p>
    </form>
  </div>
</header>