<header class="header header--library">
  <div class="container">
    <nav id="nav" class="nav header__nav header__nav--library">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" aria-label="Logo">
          <use class="icon-film" href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__title">Filmoteka</span>
      </a>

      <ul class="pages nav__pages">
        <li class="pages__item">
          <a class="pages__link" href="./index.html">Home</a>
        </li>
        <li class="pages__item">
          <a class="pages__link pages__link--current" href="./library.html"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <div class="tabs">
      <button
        id="watched-tab"
        class="tabs__btn tabs__btn--current"
        type="button"
      >
        Watched
      </button>
      <button id="queue-tab" class="tabs__btn" type="button">Queue</button>
    </div>
  </div>
</header>
