<div class="backdrop" data-modal>
<div class='modal-movie'>
    <button class="close-button" data-modal-close>
        <svg class="close-button__icon">
            <use href='../images/icons.svg#icon-close'></use>
        </svg>
    </button>
    <img
      class='modal-movie__image'
      src='../images/poster-temporary-template.png'
      alt='Poster of some movie'
      width='100%'
      height='100%'
    />
    <div class='movie-description'>
      <h2 class='movie-description__title'>
        Some title
      </h2>
      <div class="movie-description__lines">
        <ul class='movie-description__list'>
        <li class="movie-description__item"></li>
        <li class="movie-description__item"></li>
        <li class="movie-description__item"></li>
        <li class="movie-description__item"></li>
      </ul>
      <ul class='movie-description__list movie-description__list--data'>
        <li class="movie-description__item"></li>
        <li class="movie-description__item"></li>
        <li class="movie-description__item"></li>
        <li class="movie-description__item"></li>
      </ul>
      </div>
      <h3 class='movie-description__about-title'>
        about
      </h2>
      <p class='movie-description__about-text'>
      </p>
    </div>
    <div class="tabs">
      <button
        id="watched-tab"
        class="tabs__btn tabs__btn--modal tabs__btn--current"
        type="button"
      >
        Watched
      </button>
      <button id="queue-tab" class="tabs__btn tabs__btn--modal" type="button">Queue</button>
    </div>
</div>
</div>