<div class="pagination">
  <a class="link left__arrow" href="" id="leftArrow">'<='</a>
  <div class="pagination pagination__list">
    <a class="link link--active" href="">1</a>
    <a class="link" href="" id="link_3">...</a>
    <a class="link" href="" id="link_4">2</a>
    <a class="link" href="" id="link_5">3</a>
    <a class="link" href="" id="link">4</a>
    <a class="link" href="" id="link">5</a>
    <a class="link" href="" id="link">6</a>
    <a class="link" href="" id="link">...</a>
    <a class="link" href="" id="link">100</a>
  </div>
  <a class="link right__arrow" href="" id="rightArrow">'=>'</a>
</div>
