.footer {
  padding: 30px 0;
  height: 112px;
  background-color: $footer-brg-color;

  box-shadow: rgba(100, 100, 111, 0.6) 0 -0.1rem .6rem .3px;

  @include for-tablet-up {
    height: 86px;
  }
}

.copy-rights {
  margin: 0 auto;

  line-height: 1.86;
  text-align: center;
  color: $footer-text-color;

  @include for-phone-only {
    width: 236px;
  }
}

.copy-rights__btn {
  color: inherit;

  background-color: $footer-brg-color;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
