body.modal-open {
  overflow: hidden;
}

img {
  margin: 0;
  padding: 0;
}

.backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms $timing-function;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .footer-modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.footer-modal {
  z-index: 10;
  position: relative;
  padding: 48px 20px 40px;
  transform: scale(1);
  transition: transform 250ms $timing-function, opacity 250ms $timing-function;

  background-color: $primary-brg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 320px) {
    width: 80vw;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    min-width: 704px;
    min-height: 552px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1280px) {
    min-width: 900px;
    min-height: 558px;
  }
}

.footer-modal__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px 0 2px;
  padding: 0;

  border: none;
  cursor: pointer;
  background-color: $primary-brg-color;
}

.footer-modal__icon-close {
  fill: $primary-text-color;
  background-color: $primary-brg-color;
  transition: fill 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $btn-accent-hover-color;
  }
}

.swiper {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  @media screen and (min-width: 320px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 480px) {
    width: 400px;
    height: 550px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    width: 550px;
    height: 450px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0;
    width: 750px;
    height: 550px;
  }
}

.swiper .swiper-slide {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 0.5px solid #f7f7f7;

  @media screen and (min-width: 320px) {
    height: 400px;
  }

  @media screen and (min-width: 480px) {
    height: 500px;
  }

  @media screen and (min-width: 768px) {
    width: 240px;
    height: 370px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 60px;
    width: 240px;
    height: 400px;
  }
}

.swiper-lazy {
  object-fit: cover;
  align-content: center;

  @media screen and (min-width: 320px) {
    width: 100%;
    height: 290px;
  }

  @media screen and (min-width: 480px) {
    width: 100%;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 260px;
    height: 270px;
  }

  @media screen and (min-width: 1280px) {
    width: 245px;
    height: 280px;
  }
}

.member-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.member-position {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: $btn-accent-hover-color;
  color: $btn-accent-hover-color;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: $btn-accent-hover-color;
}
