.header {
  padding-top: 40px;

  height: 238px;

  background-color: $header-bgr-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include for-tablet-up {
    height: 220px;
  }

  &--home {
    padding-bottom: 44px;
    background-image: url('../images/home-header-bgr-mobile.jpg');

    @include for-2x-pixel-ratio {
      background-image: url('../images/home-header-bgr-mobile@2x.jpg');
    }

    @include for-tablet-only {
      background-image: url('../images/home-header-bgr-tablet.jpg');

      @include for-2x-pixel-ratio {
        background-image: url('../images/home-header-bgr-tablet@2x.jpg');
      }
    }

    @include for-desktop-only {
      background-image: url('../images/home-header-bgr-desktop.jpg');

      @include for-2x-pixel-ratio {
        background-image: url('../images/home-header-bgr-desktop@2x.jpg');
      }
    }
  }

  &--library {
    padding-bottom: 60px;
    background-image: url('../images/library-header-bgr-mobile.jpg');

    @include for-2x-pixel-ratio {
      background-image: url('../images/library-header-bgr-mobile@2x.jpg');
    }

    @include for-tablet-only {
      background-image: url('../images/library-header-bgr-tablet.jpg');

      @include for-2x-pixel-ratio {
        background-image: url('../images/library-header-bgr-tablet@2x.jpg');
      }
    }

    @include for-desktop-only {
      background-image: url('../images/library-header-bgr-desktop.jpg');

      @include for-2x-pixel-ratio {
        background-image: url('../images/library-header-bgr-desktop@2x.jpg');
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  &--home {
    margin-bottom: 54px;
  }

  &--library {
    margin-bottom: 60px;
  }

  @include for-tablet-up {
    margin-bottom: 40px;
  }
}

.logo {
  color: $secondary-text-color;

  &:hover {
    color: $hover-text-color;
  }

  @include for-tablet-up {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @include for-desktop-only {
    gap: 10px;
  }
}

.logo__icon {
  width: 24px;
  height: 24px;

  stroke: currentColor;
}

.logo__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;

  @include for-phone-only {
    display: none;
  }
}

.pages {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.pages__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  color: $secondary-text-color;
  text-transform: uppercase;

  &:hover {
    color: $hover-text-color;
  }

  &--current {
    text-decoration: 3px underline $accent-border-color;
    text-underline-offset: 3px;
  }
}

.search-form__container {
  margin: 0 auto;

  position: relative;

  width: 100%;
  max-width: 336px;

  text-align: center;

  @include for-desktop-only {
    max-width: 394px;
  }
}

.search-form__input {
  padding: 4px;
  width: 100%;

  color: $secondary-text-color;
  background-color: transparent;
  border-color: $primary-border-color;
  border-style: solid;
  border-width: 0 0 0.5px;

  outline: 0;

  &:focus {
    box-shadow: 0 1px;
  }
}

.search-form__error {
  display: none;

  margin-top: 16px;
  color: $error-text-color;
  text-align: center;

  @include for-tablet-up {
    margin-top: 20px;
  }
}

.search-form__btn {
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 20px;

  background-color: transparent;

  border: none;
  cursor: pointer;

  &:hover .search-form__icon {
    width: 15px;
    height: 15px;
  }
}

.search-form__icon {
  width: 12px;
  height: 12px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;

  @include for-tablet-only {
    gap: 32px;
  }

  @include for-desktop-only {
    gap: 16px;
  }

  &--modal {
    justify-content: flex-start;
  }
}

.tabs__btn {
  padding-top: 14px;
  padding-bottom: 12px;

  width: 130px;

  background-color: inherit;
  color: $secondary-text-color;
  border: 1px solid $primary-border-color;
  border-radius: 5px;

  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $btn-hover-color;
  }

  &--current {
    background-color: $btn-accent-color;
    border: none;
  }

  &--current:hover {
    background-color: $btn-accent-hover-color;
    border: none;
  }

  @include for-tablet-up {
    width: 152px;
  }

  @include for-desktop-only {
    width: 148px;
  }

  &--modal {
    color: #000000;
    border: 1px solid #000000;
    width: 110px;
    height: 44px;

    @include for-tablet-up {
      width: 125.03px;
    }

    @include for-desktop-only {
      width: 136px;
    }
  }
}
