.home,
.library {
  padding: 30px 0;
  min-height: calc(100vh - 112px - 238px);

  @include for-tablet-up {
    min-height: calc(100vh - 86px - 220px);
  }
}

.home__gallery {
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @include for-tablet-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }

  @include for-desktop-only {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
  }
}

.movie-card {
  // background: white;
  border-radius: 6px;
  box-shadow:
    1px 4px 6px 0px #00000029,
    0px 4px 4px 0px #0000000F,
    0px 1px 1px 0px #0000001F;

  transition: transform 0.25s linear;
}

.movie-card:hover {
  display: inline-block;
  transform: scale(1.05);
  cursor: pointer;
  // transition: transform 0.25s linear;
}

.movie-card__thumb {

  @include for-phone-only {
    max-height: 660px;
  }

  @include for-tablet-up {
    height: 504px;
  }

  @include for-desktop-only {
    height: 438px;
  }
}

.movie-card__image {
  width: 100%;
  // height: 100%;
  object-fit: cover;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  //border-radius: 5px;
}

.movie-card__link {
  color: inherit;
}

.movie-card__info {
  margin-top: 10px;
  padding: 10px 15px 20px 15px;
}

.movie-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}

.movie-card__descr {
  margin-top: 5px;
  color: $accent-text-color;
}

.movie-card__genres {
  margin-right: 8px;
  line-height: 1.3;
}

.movie-card__vote {
  padding: 0 9px;

  color: $secondary-text-color;
  background-color: $accent-text-color;
  border-radius: 5px;

  &--votes {
    color: $primary-text-color;
    background-color: $footer-brg-color;
  }
}