.library {
  padding: 30px 0;
  min-height: calc(100vh - 112px - 238px);

  @include for-tablet-up {
    min-height: calc(100vh - 86px - 220px);
  }
}

.library__gallery {
  position: relative;

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @include for-tablet-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }

  @include for-desktop-only {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
  }
}

.empty-page__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;

  display: block;
  padding-top: 5vh;
  font-size: 24px;

  text-align: center;
  color: rgb(99, 15, 15);

  @include for-phone-only {
    white-space: nowrap;
  }

  @include for-tablet-up {
    font-size: 36px;
    margin-top: 40px;
  }
}
