.modal-card {
  @include for-tablet-up {
    display: flex;
  }
}

.modal-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 357px;
  object-fit: cover;
  border-radius: 5px;


  @include for-tablet-up{
    width: 215px;
    height: 300px;
  }

  @include for-tablet-down{
    width: 215px;
    height: 300px;
  }

  @include for-desktop-only {
    width: 375px;
    height: 478px;
  }
}

.movie-description {
  @include for-phone-only {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  @include for-tablet-up {
    margin-left: 40px;
  }

  @include for-desktop-only {
    margin-left: 24px;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 30px;
    line-height: 1.1667;
    text-transform: uppercase;

    @include for-phone-only {
      font-size: 24px;
    }
  }

  &__lines {
    display: flex;
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.1333;

    li:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__list {
    color: #8c8c8c;
    white-space: nowrap;
    margin-right: 41px;

    @include for-desktop-only {
      margin-right: 85px;
    }
  }

  &__about-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3333;
    text-transform: uppercase;
  }

  &__about-text {
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6667;
  }
}

.modal-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;

  @include for-tablet-only {
    gap: 22px;
  }

  @include for-desktop-only {
    gap: 16px;
  }
}

.modal-tabs__btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  align-items: center;

  position: relative;

  width: calc((100% - 20px) / 2);
  height: 42px;

  background-color: $footer-brg-color;
  color: $primary-text-color;
  border: 1px solid #565353;
  border-radius: 5px;

  text-transform: uppercase;
  cursor: pointer;

  background-size: 100% 100%;
  transition: color 250ms $timing-function, border-color 250ms $timing-function;

  &:hover {
    color: red;
    border: 1px solid red;
    transition: color 250ms $timing-function,
      border-color 250ms $timing-function;
  }

  &--current {
    color: $secondary-text-color;
    background-color: $btn-accent-color;
    border: 1px solid $btn-accent-color;
    transition: color 250ms $timing-function,
      background-color 250ms $timing-function,
      border-color 250ms $timing-function;
  }

  &--current:hover {
    color: #ffffff;
    background-color: $btn-accent-hover-color;
    border: none;
    transition-delay: 100ms;
    transition: color 250ms $timing-function,
      background-color 250ms $timing-function,
      border-color 250ms $timing-function;
  }

  @include for-tablet-up {
    width: calc((100% - 22px) / 2);
  }

  @include for-desktop-only {
    width: calc((100% - 16px) / 2);
  }
}

.modal-tabs__btn--trailer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-text-color;

  border: 1px solid #565353;
  transition: background-color 250ms $timing-function;

  &:hover {
    background-color: #e53f33;
    border: none;
    color: $secondary-text-color;
    transition: background-color 250ms $timing-function,
      color 250ms $timing-function;

    .modal-tabs__youtube-icon {
      fill: #ffffff;
      transition: fill 250ms $timing-function;
    }
  }

  width: 100%;
  height: 42px;

  margin-top: 10px;
}

.modal-tabs__youtube-icon {
  width: 30px;
  margin-right: 10px;
  transition: fill 250ms $timing-function;
}
