.modal-card {
  @include for-tablet-up {
    display: flex;
  }
}

.modal-image {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 357px;
  object-fit: cover;
  border-radius: 5px;

  @include for-tablet-up {
    width: 264px;
    height: 460px;
  }

  @include for-desktop-only {
    width: 375px;
    height: 478px;
  }
}

.movie-description {
  @include for-phone-only {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  @include for-tablet-up {
    margin-left: 40px;
  }

  @include for-desktop-only {
    margin-left: 24px;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 30px;
    line-height: 1.1667;
    text-transform: uppercase;
  }

  &__lines {
    display: flex;
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.1333;

    li:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__list {
    color: #8c8c8c;
    white-space: nowrap;
    margin-right: 41px;

    @include for-desktop-only {
      margin-right: 85px;
    }
  }

  &__about-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3333;
    text-transform: uppercase;
  }

  &__about-text {
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6667;
  }
}

.modal-tabs {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  @include for-tablet-only {
    gap: 22px;
  }

  @include for-desktop-only {
    gap: 16px;
  }
}

.modal-tabs__btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  align-items: center;

  position: relative;

  margin-right: -5px;

  width: 110px;
  height: 42px;

  background-color: inherit;
  color: $primary-text-color;
  border: 1px solid #000000;
  border-radius: 5px;

  text-transform: uppercase;
  cursor: pointer;

  background-size: 100% 100%;

  &:hover {
    color: red;
    border: 1px solid red;
    transition-delay: 100ms;
  }

  &--current {
    color: $secondary-text-color;
    background-color: $btn-accent-color;
    border: none;
  }

  &--current:hover {
    color: $primary-text-color;
    background-color: $btn-accent-hover-color;
    border: 1px solid $primary-text-color;
    transition-delay: 100ms;
  }

  @include for-tablet-up {
    width: 130.03px;
  }

  @include for-desktop-only {
    width: 170px;
  }
}

.modal-tabs__btn--trailer {
  display: flex;
  align-items: center;
  justify-content: center;

  border-style: none;
  border: 1px solid #000000;

  &:hover {
    color: $primary-text-color;
    background-color: #ea4640;
    border-color: #ea4640;
    transition-delay: 100ms;
  }

  width: 235px;
  height: 42px;

  margin-top: 10px;

  @include for-tablet-up {
    width: 277.06px;
  }

  @include for-desktop-only {
    width: 351px;
  }
}

.modal-tabs__youtube-icon {
  width: 30px;
  margin-right: 10px;
}
