.pagination{
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    
}
.link{
    width: 40px;
    height: 40px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    &:hover{
        background-color: #f58d47;
        border-radius: 3px;
    }
}
.link--active{
    background-color: #FF6B08;
    border-radius: 3px;
}