.pagination {
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;

  &__list {
    padding: 0;
    display: flex;
  }
  &__arrow {
    display: none;
    fill: black;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    border: 2px solid #f7f7f7;
    border-radius: 3px;
    cursor: pointer;
    transition: color 250ms $timing-function, fill 250ms $timing-function,
      border-color 250ms $timing-function;
    &:hover {
      color: #f58d47;
      fill: #f58d47;
      border: 2px solid #f58d47;
      border-radius: 3px;
    }
  }
  &__dots {
    width: 40px;
    height: 40px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__svg {
    stroke: currentColor;
    width: 16px;
    height: 16px;
    stroke-width: 0;
    stroke: currentColor;
    fill: rgba(0, 0, 0, 0);
    display: inline-block;
  }
  &__button {
    width: 40px;
    height: 40px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
    cursor: pointer;
    transition: color 250ms $timing-function,
      border-color 250ms $timing-function;
    &:hover {
      color: #f58d47;
      border: 2px solid #f58d47;
    }
    &--active {
      background-color: #ff6b08;
      color: #ffffff;

      &:hover {
        border-color: #9a9191;
        color: #ffffff;
      }
    }
  }
}
