.modal__video-you-tube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
}

.modal_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.modal__window {
    position: relative;
    display: block;
    max-width: 560px;
    width: 560px;
    z-index: 10;
}

.modal-video-player {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.modal-video-player iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no_scroll {
    overflow: hidden;
}